{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium neque pariatur vero mollitia architecto quae ipsa. Officia neque deleniti maiores doloremque aliquam, laborum quis inventore nisi? Voluptatem perspiciatis minus placeat.</p>
        <button class="btn btn-warning">To page "About Us"</button>

    </div>

{% endblock  %}